.catalog {
    padding-bottom: 100px;
    &__tabs {
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;

    }
    &__tab {
        width: 222px;
        height: 52px;
        border: 2px solid #D0D0D0;

        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        text-transform: uppercase;
        text-align: center;
        line-height: 48px;

        transform: skewX(-25deg);
        margin: 0 5px;
        cursor: pointer;
        transition: 0.5s all;

        &:hover {
            box-shadow: 3px 3px 25px $main-color;
            border: none;
        }
        div {
            transform: skewX(25deg);
        }
        &_activ {
            color: #fff;
            background-color: $main-color;
            border: none;
        }
    }
    &__contant {
        margin-top: 60px;
    }
    &-item {
        width: 300px;
        min-height: 440px;
        border: 2px solid #E8E8E8;
        padding: 20px 20px 26px 20px;
        img {
            max-width: 100%;
            height: 200px;
            display: block;
            margin: 0 auto;
        }
        &__subtitle {
            margin-top: 20px;
            font-weight: 700;
            font-size: 16px;
            text-align: center;
            color: #0D0D0D;
        }
        &__descr {
            margin-top: 16px;
            font-weight: 300;
            line-height: 22px;
            text-align: center;
        }
        &__link {
            display: block;
            margin-top: 17px;
            font-weight: 500;
            line-height: 14px;
            text-align: center;
            text-decoration-line: underline;
            color: #C70101;
            &:hover {
                color: $main-color;
            }
        }
        hr {
            margin-top: 19px;
            margin-bottom: 21px;
            border-bottom: none;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price {
            font-weight: 300;
            font-size: 14px;
            text-decoration-line: line-through;
            color: #555555;
        }
        &__price {
        font-weight: 700;
        font-size: 20px;
        color: #050505;
        }
    }
}